@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMSoOrder
@{
    long numTotal = 0;
}

<div class="text-center" style="background-color: gray;">
    <h3 class="mt-2">Sales Order Information <i class="fas fa-level-down-alt"></i></h3>
</div>

<div class="mt-1">
    <div class="row m-5">
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Sales Order Number</label>
                <input id="keyword" type="text" class="form-control col-9" name="OrderNo" value="@ViewBag.OrderNo" />
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Customer</label>
                @* <input id="customer" type="text" class="form-control col-9" name="Customer" /> *@
                <select class="form-select">
                    @if (ViewBag.Customers != null && ViewBag.Customers.Count > 0)
                    {
                        foreach(VMComCustomer customer in ViewBag.Customers)
                        {
                            if (customer.ComCustomerId == ViewBag.CustomerId) 
                            {
                                <option value="@customer.ComCustomerId" selected>@customer.CustomerName</option>
                            }
                            else 
                            {
                                <option value="@customer.ComCustomerId">@customer.CustomerName</option>
                            }                            
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-5 flatpickr">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Order Date</label>
                <input id="orderDate" type="text" class="form-control col-9" name="Date" value="@ViewBag.OrderDate" />
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Address</label>
                <textarea class="form-control" id="address" rows="3" name="Address">@ViewBag.Address</textarea>
            </div>
        </div>
    </div>
</div>

<div class="align-middle text-center" style="background-color: gray;">
    <h3 class="mt-2">Detail Item Information <i class="fas fa-level-down-alt"></i></h3>
</div>

<div class="row mt-4">
    <div class="col-3">
        <button id="btnAddItem" type="button" class="btn btn-light-primary mb-4 text-light"><span>Add New Data</span></button>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">No</th>
                <th class="col-2">Action</th>
                <th class="col-2">Item Name</th>
                <th class="col-2">Qty</th>
                <th class="col-2">Price</th>
                <th class="col-2">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null && Model.Items.Count > 0)
            {
                long num = Model.Items[0].SoItemId - (Model.Items[0].SoItemId - 1);
                int totalItem = 0;
                double totalAmount = 0;

                foreach(VMSoItem item in Model.Items)
                {
                    <tr>
                        <td>@num</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-info" title="Edit..."
                                        data-bs-toggle="modal" data-bs-target="#staticModal">
                                    <i class="fas fa-edit"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-danger" title="Delete..."
                                        data-bs-toggle="modal" data-bs-target="#staticModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                        <td><div>@item.ItemName</div></td>
                        <td><div>@item.Quantity</div></td>
                        <td><div>@item.Price</div></td>
                        <td><div>@((item.Price * item.Quantity).ToString("C"))</div></td>
                    </tr>

                    num += 1;
                    totalItem += item.Quantity;
                    totalAmount += item.Price * item.Quantity;
                }

                numTotal = num;

                <tr>
                    <td colspan="3"></td>
                    <td>Total Item: @totalItem</td>
                    <td></td>
                    <td>Total Amount: @totalAmount.ToString("C")</td>
                </tr>
            }          
        </tbody>
    </table>
</div>

<script>
    $(document).ready(() => {
        $("#orderDate").flatpickr({
            dateFormat: "d/m/Y"
        });

        $("#")
    })
</script>