@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMSoOrder>
@{
}

<div class="mt-1" style="border: 2px solid gray; border-radius: 10px;">
    <div class="row m-5">
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Keyword</label>
                <input id="keyword" type="text" class="form-control col-9" name="Keyword" />
            </div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Order Date</label>
                <input id="orderDate" type="text" class="form-control col-9" name="Date" />
            </div>
        </div>
    </div>
    <button class="btn btn-primary float-end mb-5 me-5"><span>Search</span></button>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button id="btnAddOrder" type="button" class="btn btn-light-primary btn-block mb-5 text-light"><span>Add New Data</span></button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-light-success btn-block mb-5 text-light"><span><i class="fas fa-file-excel"></i> Export To Excel</span></button>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">No</th>
                <th class="col-2">Action</th>
                <th class="col-3">Sales Order</th>
                <th class="col-3">Order Date</th>
                <th class="col-3">Customer</th>
            </tr>
        </thead>
        <tbody>
            
                @if (Model.Count > 0)
                {
                    foreach(VMSoOrder order in Model)
                    {
                    <tr>
                        <td>@order.SoOrderId</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button id="btnEditOrder" data-id="@order.SoOrderId" class="btn btn-outline-info" title="Edit...">
                                    <i class="fas fa-edit"></i>
                                </button>
                                &nbsp;
                                <button id="btnDeleteOrder" data-id="@order.OrderNo" class="btn btn-outline-danger" title="Delete..." data-bs-target="#staticModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                        <td>@order.OrderNo</td>
                        <td>@order.OrderDate.ToString("dd/M/yyyy")</td>
                        <td>@order.ComCustomerName</td>
                    </tr>
                    }
                }               
           
        </tbody>
    </table>
</div>

<script>
    $(document).ready(() => {
        $("#btnAddOrder").click(function (e) {
            location.href = "/Order/CreateEdit";
        });

        $(".btn-outline-info").click(function (e) {
            var orderId = $(this).data("id");
            location.href = `/Order/CreateEdit?orderId=${orderId}`;
        });

        $(".btn-outline-danger").click(function(e) {
            var orderNo = $(this).data("id");
            $("#staticModalBody").load(`/Order/DeleteOrder/?orderNo=${orderNo}`);
            $("#staticModal").modal("show");
        });
    });
</script>