@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMSoOrder>
@{
}

<div class="mt-1" style="border: 2px solid gray; border-radius: 10px;">
    <div class="row m-5">
        <div class="col-5">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Keyword</label>
                <input id="keyword" type="text" class="form-control col-9" name="Keyword" />
            </div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-5 flatpickr">
            <div class="input-group mb-3">
                <label class="input-group-text col-3 text-light">Order Date</label>
                <input id="orderDate" type="text" class="form-control col-9" name="Date" placeholder="Select Date..." />
            </div>
        </div>
    </div>
    <button id="btnSearch" class="btn btn-primary float-end mb-5 me-5"><span>Search</span></button>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button id="btnAddOrder" type="button" class="btn btn-light-primary btn-block mb-5 text-light"><span>Add New Data</span></button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-light-success btn-block mb-5 text-light"><span><i class="fas fa-file-excel"></i> Export To Excel</span></button>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">No</th>
                <th class="col-2">Action</th>
                <th class="col-3">Sales Order</th>
                <th class="col-3">Order Date</th>
                <th class="col-3">Customer</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count > 0)
            {
                long num = 1;
                foreach(VMSoOrder order in Model)
                {
                    <tr>
                        <td>@num</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button id="btnEditOrder" data-id="@order.SoOrderId" class="btn btn-outline-info" title="Edit...">
                                    <i class="fas fa-edit"></i>
                                </button>
                                &nbsp;
                                <button id="btnDeleteOrder" data-id="@order.SoOrderId" data-num="@order.OrderNo" class="btn btn-outline-danger" title="Delete..." 
                                    data-bs-target="#staticModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                        <td>@order.OrderNo</td>
                        <td>@order.OrderDate.ToString("dd/M/yyyy")</td>
                        <td>@order.ComCustomerName</td>
                    </tr>
                    num++;
                }
            }               
           
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        Page @ViewBag.Page of @ViewBag.TotalPages
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-7 d-flex justify-content-center">
        @if (ViewBag.Page == 1)
        {
            <nav aria-label="Page Navigation Example">
                <ul class="pagination pagination-primary">
                    <li class="page-item disabled">
                        <a class="page-link"><i class="fas fa-backward"></i></a>
                    </li>
                    <li class="page-item active"> <a class="page-link">1</a></li>
                    @for (int i = 1; i < @ViewBag.TotalPages; i++)
                    {
                        @if (i == 3)
                        {
                            break;
                        }
                        <li class="page-item">
                            <a class="page-link" asp-controller="Order" asp-action="Index"
                               asp-route-keyword="@ViewBag.Keyword"
                               asp-route-searchDate="@ViewBag.SearchDate"
                               asp-route-page="@(ViewBag.Page + i)"
                               asp-route-pageSize="@ViewBag.PageSize">@(ViewBag.Page + i)</a>
                        </li>

                    }
                    @if (ViewBag.TotalPages != 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Order" asp-action="Index"
                               asp-route-keyword="@ViewBag.Keyword"
                               asp-route-searchDate="@ViewBag.SearchDate"
                               asp-route-page="@(ViewBag.Page + 1)"
                               asp-route-pageSize="@ViewBag.PageSize"><i class="fas fa-forward"></i></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link"><i class="fas fa-forward"></i></a>
                        </li>
                    }

                </ul>
            </nav>
        }
        else if (ViewBag.Page == ViewBag.TotalPages)
        {
            <nav aria-label="...">
                <ul class="pagination pagination-primary">
                    <li class="page-item">
                        <a class="page-link" asp-controller="Order" asp-action="Index"
                           asp-route-keyword="@ViewBag.Keyword"
                           asp-route-searchDate="@ViewBag.SearchDate"
                           asp-route-page="@(ViewBag.Page - 1)"
                           asp-route-pageSize="@ViewBag.PageSize"><i class="fas fa-backward"></i></a>
                    </li>
                    @for (int i = 2; i > 0; i--)
                    {
                        @if (ViewBag.Page - i <= 0)
                        {
                            continue;
                        }
                        <li class="page-item">
                            <a class="page-link" asp-controller="Order" asp-action="Index"
                               asp-route-keyword="@ViewBag.Keyword"
                               asp-route-searchDate="@ViewBag.SearchDate"
                               asp-route-page="@(ViewBag.Page - i)"
                               asp-route-pageSize="@ViewBag.PageSize">@(ViewBag.Page - i)</a>
                        </li>
                    }
                    <li class="page-item active"><a class="page-link">@ViewBag.Page</a></li>
                    <li class="page-item disabled">
                        <a class="page-link"><i class="fas fa-forward"></i></a>
                    </li>
                </ul>
            </nav>
        }
        else
        {
            <nav aria-label="...">
                <ul class="pagination pagination-primary">
                    <li class="page-item">
                        <a class="page-link" asp-controller="Order" asp-action="Index"
                           asp-route-keyword="@ViewBag.Keyword"
                           asp-route-searchDate="@ViewBag.SearchDate"
                           asp-route-page="@(ViewBag.Page - 1)"
                           asp-route-pageSize="@ViewBag.PageSize"><i class="fas fa-backward"></i></a>
                    </li>
                    @* <li class="page-item">
                        <a class="page-link" asp-controller="Barcode" asp-action="Index"
                           asp-route-currPageSize="@ViewBag.PageSize"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-typeNumber="@ViewBag.Status"
                           asp-route-dateFrom="@ViewBag.DateFrom"
                           asp-route-dateTo="@ViewBag.DateTo"
                           asp-route-ascDesc="@ViewBag.AscDesc"
                           asp-route-sortedBy="@ViewBag.SortBy"><i class="fas fa-backward"></i></a>
                    </li> *@
                    <li class="page-item">
                        <a class="page-link" asp-controller="Order" asp-action="Index"
                           asp-route-keyword="@ViewBag.Keyword"
                           asp-route-searchDate="@ViewBag.SearchDate"
                           asp-route-page="@(ViewBag.Page - 1)"
                           asp-route-pageSize="@ViewBag.PageSize">@(ViewBag.Page - 1)</a>
                    </li>
                    <li class="page-item active"><a class="page-link">@ViewBag.Page</a></li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Order" asp-action="Index"
                           asp-route-keyword="@ViewBag.Keyword"
                           asp-route-searchDate="@ViewBag.SearchDate"
                           asp-route-page="@(ViewBag.Page + 1)"
                           asp-route-pageSize="@ViewBag.PageSize">@(ViewBag.Page + 1)</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Order" asp-action="Index"
                           asp-route-keyword="@ViewBag.Keyword"
                           asp-route-searchDate="@ViewBag.SearchDate"
                           asp-route-page="@(ViewBag.Page + 1)"
                           asp-route-pageSize="@ViewBag.PageSize"><i class="fas fa-forward"></i></a>
                    </li>
                    @* <li class="page-item">
                        <a class="page-link" asp-controller="Barcode" asp-action="Index"
                           asp-route-currPageSize="@ViewBag.PageSize"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-typeNumber="@ViewBag.Status"
                           asp-route-dateFrom="@ViewBag.DateFrom"
                           asp-route-dateTo="@ViewBag.DateTo"
                           asp-route-ascDesc="@ViewBag.AscDesc"
                           asp-route-sortedBy="@ViewBag.SortBy"><i class="fas fa-forward"></i></a>
                    </li> *@
                </ul>
            </nav>
        }
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 d-flex justify-content-end">
        <form id="frmPageSize" method="get"
              asp-controller="Order" asp-action="Index">
            <div class="input-group">
                <span class="input-group-text">Show</span>
                <input id="pageSize" class="form-control" type="number" id="pageSize" name="pageSize" min="1" max="100" value="@ViewBag.PageSize" />
                <span class="input-group-text"> Entries</span>
            </div>
            <input name="page" type="hidden" value="1" />
            <input name="keyword" type="hidden" value="@ViewBag.Keyword" />
            <input name="searchDate" type="hidden" value="@ViewBag.SearchDate" />
        </form>

    </div>
</div>

<script>
    $(document).ready(() => {
        $("#orderDate").flatpickr({
            dateFormat: "Y-m-d"
        });

        $("#btnAddOrder").click(function (e) {
            location.href = "/Order/Create";
        });

        $("#btnSearch").click(function (e) {
            var searchDate = $("#orderDate").val();
            var keyword = $("#keyword").val();
            var pageSize = $("#pageSize").val();
            location.href = `/Order/Index?keyword=${keyword}&searchDate=${searchDate}&page=1&pageSize=${pageSize}`;
        });

        $(".btn-outline-info").click(function (e) {
            var orderId = $(this).data("id");
            location.href = `/Order/CreateEdit?orderId=${orderId}`;
        });

        $(".btn-outline-danger").click(function(e) {
            var orderNo = $(this).data("num");
            var orderId = $(this).data("id");
            $("#staticModalBody").load(`/Order/DeleteOrder/?orderNo=${orderNo}&orderId=${orderId}`);
            $("#staticModal").modal("show");
        });
    });
</script>